# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
venv/
.venv/

# xcode
xcuserdata/
*.xcuserstate

# db
*.db
flaskServer/config/db_repository/

# CocoaPods
Pods/Pods.xcodeproj/xcuserdata/*
